{% extends "navbar.html" %}
{% block body %}
<div class="container" style="margin-top: 50px;">
<h2 class="text-center">Contact us</h2>
<br><br>
<div class="column text-center">
    <div class="col-lg-3">
        <h4><i class="bi bi-telephone-fill"></i>Phone</h4>
        <p class="mt-3 font-weight-bold"><a class="text-danger" href="tel:+911234567890">+91 12345 67890</a></p>
    </div>

    <div class="col-lg-3">
        <h4><i class="bi bi-envelope"></i> Email</h4>
        <p class="mt-3 font-weight-bold"><a class="text-danger" href="mailto:admin@gmail.com">admin@gmail.com</a></p>
    </div>

    <div class="col-lg-3">
        <h4><i class="bi bi-house-fill"></i>Office Address</h4>
        <p class="mt-3 font-weight-bold"><a class="text-danger" href="http://maps.google.com/maps?q=Manipal+Hospital+Bangalore">Manipal,Bangalore</a></p>
    </div>
</div>
</div>
{% endblock body %}